* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 20px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.row-cols-8 > * {
  flex: 0 0 auto;
  width: 12.5%;
}

.row-cols-9 > * {
  flex: 0 0 auto;
  width: 11.1111111111%;
}

.col-1 {
  flex: 0 0 auto;
  width: 5.5555555556%;
}

.col-2 {
  flex: 0 0 auto;
  width: 11.1111111111%;
}

.col-3 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-4 {
  flex: 0 0 auto;
  width: 22.2222222222%;
}

.col-5 {
  flex: 0 0 auto;
  width: 27.7777777778%;
}

.col-6 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-7 {
  flex: 0 0 auto;
  width: 38.8888888889%;
}

.col-8 {
  flex: 0 0 auto;
  width: 44.4444444444%;
}

.col-9 {
  flex: 0 0 auto;
  width: 50%;
}

.col-10 {
  flex: 0 0 auto;
  width: 55.5555555556%;
}

.col-11 {
  flex: 0 0 auto;
  width: 61.1111111111%;
}

.col-12 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-13 {
  flex: 0 0 auto;
  width: 72.2222222222%;
}

.col-14 {
  flex: 0 0 auto;
  width: 77.7777777778%;
}

.col-15 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-16 {
  flex: 0 0 auto;
  width: 88.8888888889%;
}

.col-17 {
  flex: 0 0 auto;
  width: 94.4444444444%;
}

.col-18 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 5.5555555556%;
}

.offset-2 {
  margin-left: 11.1111111111%;
}

.offset-3 {
  margin-left: 16.6666666667%;
}

.offset-4 {
  margin-left: 22.2222222222%;
}

.offset-5 {
  margin-left: 27.7777777778%;
}

.offset-6 {
  margin-left: 33.3333333333%;
}

.offset-7 {
  margin-left: 38.8888888889%;
}

.offset-8 {
  margin-left: 44.4444444444%;
}

.offset-9 {
  margin-left: 50%;
}

.offset-10 {
  margin-left: 55.5555555556%;
}

.offset-11 {
  margin-left: 61.1111111111%;
}

.offset-12 {
  margin-left: 66.6666666667%;
}

.offset-13 {
  margin-left: 72.2222222222%;
}

.offset-14 {
  margin-left: 77.7777777778%;
}

.offset-15 {
  margin-left: 83.3333333333%;
}

.offset-16 {
  margin-left: 88.8888888889%;
}

.offset-17 {
  margin-left: 94.4444444444%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 10px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 10px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 20px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 20px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 30px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 30px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 60px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 60px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-sm-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-sm-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-sm-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 5.5555555556%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 22.2222222222%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 27.7777777778%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 38.8888888889%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 44.4444444444%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 55.5555555556%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 61.1111111111%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-13 {
    flex: 0 0 auto;
    width: 72.2222222222%;
  }
  .col-sm-14 {
    flex: 0 0 auto;
    width: 77.7777777778%;
  }
  .col-sm-15 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-16 {
    flex: 0 0 auto;
    width: 88.8888888889%;
  }
  .col-sm-17 {
    flex: 0 0 auto;
    width: 94.4444444444%;
  }
  .col-sm-18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 5.5555555556%;
  }
  .offset-sm-2 {
    margin-left: 11.1111111111%;
  }
  .offset-sm-3 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-4 {
    margin-left: 22.2222222222%;
  }
  .offset-sm-5 {
    margin-left: 27.7777777778%;
  }
  .offset-sm-6 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-7 {
    margin-left: 38.8888888889%;
  }
  .offset-sm-8 {
    margin-left: 44.4444444444%;
  }
  .offset-sm-9 {
    margin-left: 50%;
  }
  .offset-sm-10 {
    margin-left: 55.5555555556%;
  }
  .offset-sm-11 {
    margin-left: 61.1111111111%;
  }
  .offset-sm-12 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-13 {
    margin-left: 72.2222222222%;
  }
  .offset-sm-14 {
    margin-left: 77.7777777778%;
  }
  .offset-sm-15 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-16 {
    margin-left: 88.8888888889%;
  }
  .offset-sm-17 {
    margin-left: 94.4444444444%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 10px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 10px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 20px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 20px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 30px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 30px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 60px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 60px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-md-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-md-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-md-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 5.5555555556%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 22.2222222222%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 27.7777777778%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 38.8888888889%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 44.4444444444%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 55.5555555556%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 61.1111111111%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-13 {
    flex: 0 0 auto;
    width: 72.2222222222%;
  }
  .col-md-14 {
    flex: 0 0 auto;
    width: 77.7777777778%;
  }
  .col-md-15 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-16 {
    flex: 0 0 auto;
    width: 88.8888888889%;
  }
  .col-md-17 {
    flex: 0 0 auto;
    width: 94.4444444444%;
  }
  .col-md-18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 5.5555555556%;
  }
  .offset-md-2 {
    margin-left: 11.1111111111%;
  }
  .offset-md-3 {
    margin-left: 16.6666666667%;
  }
  .offset-md-4 {
    margin-left: 22.2222222222%;
  }
  .offset-md-5 {
    margin-left: 27.7777777778%;
  }
  .offset-md-6 {
    margin-left: 33.3333333333%;
  }
  .offset-md-7 {
    margin-left: 38.8888888889%;
  }
  .offset-md-8 {
    margin-left: 44.4444444444%;
  }
  .offset-md-9 {
    margin-left: 50%;
  }
  .offset-md-10 {
    margin-left: 55.5555555556%;
  }
  .offset-md-11 {
    margin-left: 61.1111111111%;
  }
  .offset-md-12 {
    margin-left: 66.6666666667%;
  }
  .offset-md-13 {
    margin-left: 72.2222222222%;
  }
  .offset-md-14 {
    margin-left: 77.7777777778%;
  }
  .offset-md-15 {
    margin-left: 83.3333333333%;
  }
  .offset-md-16 {
    margin-left: 88.8888888889%;
  }
  .offset-md-17 {
    margin-left: 94.4444444444%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 10px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 10px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 20px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 20px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 30px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 30px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 60px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 60px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-lg-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-lg-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-lg-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 5.5555555556%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 22.2222222222%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 27.7777777778%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 38.8888888889%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 44.4444444444%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 55.5555555556%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 61.1111111111%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-13 {
    flex: 0 0 auto;
    width: 72.2222222222%;
  }
  .col-lg-14 {
    flex: 0 0 auto;
    width: 77.7777777778%;
  }
  .col-lg-15 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-16 {
    flex: 0 0 auto;
    width: 88.8888888889%;
  }
  .col-lg-17 {
    flex: 0 0 auto;
    width: 94.4444444444%;
  }
  .col-lg-18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 5.5555555556%;
  }
  .offset-lg-2 {
    margin-left: 11.1111111111%;
  }
  .offset-lg-3 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-4 {
    margin-left: 22.2222222222%;
  }
  .offset-lg-5 {
    margin-left: 27.7777777778%;
  }
  .offset-lg-6 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-7 {
    margin-left: 38.8888888889%;
  }
  .offset-lg-8 {
    margin-left: 44.4444444444%;
  }
  .offset-lg-9 {
    margin-left: 50%;
  }
  .offset-lg-10 {
    margin-left: 55.5555555556%;
  }
  .offset-lg-11 {
    margin-left: 61.1111111111%;
  }
  .offset-lg-12 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-13 {
    margin-left: 72.2222222222%;
  }
  .offset-lg-14 {
    margin-left: 77.7777777778%;
  }
  .offset-lg-15 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-16 {
    margin-left: 88.8888888889%;
  }
  .offset-lg-17 {
    margin-left: 94.4444444444%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 10px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 10px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 20px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 20px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 30px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 30px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 60px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-xl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-xl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-xl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 5.5555555556%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 22.2222222222%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 27.7777777778%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 38.8888888889%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 44.4444444444%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 55.5555555556%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 61.1111111111%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-13 {
    flex: 0 0 auto;
    width: 72.2222222222%;
  }
  .col-xl-14 {
    flex: 0 0 auto;
    width: 77.7777777778%;
  }
  .col-xl-15 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-16 {
    flex: 0 0 auto;
    width: 88.8888888889%;
  }
  .col-xl-17 {
    flex: 0 0 auto;
    width: 94.4444444444%;
  }
  .col-xl-18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 5.5555555556%;
  }
  .offset-xl-2 {
    margin-left: 11.1111111111%;
  }
  .offset-xl-3 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-4 {
    margin-left: 22.2222222222%;
  }
  .offset-xl-5 {
    margin-left: 27.7777777778%;
  }
  .offset-xl-6 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-7 {
    margin-left: 38.8888888889%;
  }
  .offset-xl-8 {
    margin-left: 44.4444444444%;
  }
  .offset-xl-9 {
    margin-left: 50%;
  }
  .offset-xl-10 {
    margin-left: 55.5555555556%;
  }
  .offset-xl-11 {
    margin-left: 61.1111111111%;
  }
  .offset-xl-12 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-13 {
    margin-left: 72.2222222222%;
  }
  .offset-xl-14 {
    margin-left: 77.7777777778%;
  }
  .offset-xl-15 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-16 {
    margin-left: 88.8888888889%;
  }
  .offset-xl-17 {
    margin-left: 94.4444444444%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 10px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 10px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 20px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 20px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 30px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 30px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 60px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 60px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-xxl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-xxl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-xxl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 5.5555555556%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 22.2222222222%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 27.7777777778%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 38.8888888889%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 44.4444444444%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 55.5555555556%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 61.1111111111%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-13 {
    flex: 0 0 auto;
    width: 72.2222222222%;
  }
  .col-xxl-14 {
    flex: 0 0 auto;
    width: 77.7777777778%;
  }
  .col-xxl-15 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-16 {
    flex: 0 0 auto;
    width: 88.8888888889%;
  }
  .col-xxl-17 {
    flex: 0 0 auto;
    width: 94.4444444444%;
  }
  .col-xxl-18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 5.5555555556%;
  }
  .offset-xxl-2 {
    margin-left: 11.1111111111%;
  }
  .offset-xxl-3 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-4 {
    margin-left: 22.2222222222%;
  }
  .offset-xxl-5 {
    margin-left: 27.7777777778%;
  }
  .offset-xxl-6 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-7 {
    margin-left: 38.8888888889%;
  }
  .offset-xxl-8 {
    margin-left: 44.4444444444%;
  }
  .offset-xxl-9 {
    margin-left: 50%;
  }
  .offset-xxl-10 {
    margin-left: 55.5555555556%;
  }
  .offset-xxl-11 {
    margin-left: 61.1111111111%;
  }
  .offset-xxl-12 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-13 {
    margin-left: 72.2222222222%;
  }
  .offset-xxl-14 {
    margin-left: 77.7777777778%;
  }
  .offset-xxl-15 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-16 {
    margin-left: 88.8888888889%;
  }
  .offset-xxl-17 {
    margin-left: 94.4444444444%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 10px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 10px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 20px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 20px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 60px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
